* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #59d8c1, #1d3cc5);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width:700px;
  max-width: 900px;
  gap: 25px;
}

header {
  display: flex;
  justify-content:center;
  color: #fff;
  margin-bottom: 20px:
}

header h1 {
  font-size:5rem;
  font-weight: 800;
}

.reset-button {
  position: fixed;
  top:40px;
  right: 20px;
  z-index: auto;
  padding: 15px;
  border: none;
  background: #fff;
  color: #4e54c8;
  border-radius:10px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  align-self:

}


.reset-button:hover {
  background: #e0e0e0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  justify-items: center;
}

.card {
  width: 120px;
  height: 120px;
  perspective: 500px;
  position: relative;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
  transition: transform 0.6s;
  color: :white;
}

.card-front {
  transform: rotateY(180deg);
  background-color:#bea3d6;
}

.card.flipped .card-front {
  transform: rotateY(0);
}

.card.flipped .card-back {
  transform: rotateY(180deg);
}

.card-back {
  background: #f3f2f5;
  transform: rotateY(0deg);
}

/* Overlay when user wins */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 3rem;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
  flex-direction: column;
}

.overlay.show {
  display: flex;
  animation: fadeIn 0.8s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
